<h1>Голосование</h1>

  <%= form_with model: @vote, url: game_session_game_path(@game_session, :vote), method: :patch do |f| %>
    <%= f.hidden_field :game_session_id, value: @game_session.id %>

    <div data-controller="vote">
      <% @players.each do |player| %>
        <%= f.fields_for :vote_candidates, @vote.vote_candidates.build do |vc_form| %>
          <div class="hidden" data-vote-target="candidateBlock">
            <%= vc_form.hidden_field :candidate_id, value: player.id %>

            <div class="active-player-card">
              <%= render partial: "players/player", locals: { player: } %>
            </div>
            
            <div class="form-card">
              <%= vc_form.collection_check_boxes(:voter_ids, @players - [player], :id, :name) do |cb| %>
                <div class="input-container">
                  <%= cb.check_box data: { vote_target: "checkbox", action: "change->vote#checkVoters" }, class: "checkbox-hidden" %>
                  <div class="input-checkbox">
                    <%= cb.label class: "player-name" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="controls">
        <div class="main-action">
          <%= button_tag "Следующий игрок",
                         type: "button",
                         class: "button-primary",
                         data: { 
                          vote_target: "nextPlayerButton",
                          action:      "click->vote#nextCandidate"
                          }%>
        </div>
        <div class="buttons-group">
          <%= button_tag "Отправить голоса", type: "submit", class: "button-secondary" %>
          <%= link_to 'Пропустить голосование', next_wizard_path, class: "button-secondary" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>
