<div class="form-card" data-controller="drag-and-drop">
  <%= content_tag(:div, class: "icon-wrapper", draggable: true, data: { drag_and_drop_target: "draggable" }) do %>
    <%= render "icons/shooting_target" %>
  <% end %>

  <div id="hidden-inputs" data-drag-and-drop-target="inputsWrapper">
    <%= form.hidden_field :kill_target_ids, multiple: true %>
  </div>

  <%= form.collection_check_boxes :select_target_ids, avenger.game_session.players.excluding(avenger.player), :id, :name do |cb| %>
    <div class="input-container"
         data-drag-and-drop-target="dropZone"
         data-player-id="<%= cb.object.id %>"
    >
      <%= cb.check_box class: "checkbox-hidden" %>
      <div class="input-checkbox">
        <%= cb.label class: "player-name" %>
      </div>
    </div>
  <% end %>
</div>

<%= button_tag "Make Action", type: "submit", class: "button-secondary" %>
