<%= form_with(model: game_session, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: ".nested-form-wrapper"
}) do |form| %>
  <div data-controller="dropdown">
    <div class="controls">
      <%= button_tag "Настройки игры", type: "button", class: "button-secondary", data: { action: "dropdown#toggle click@window->dropdown#hid" } %>
    </div>

    <div
      data-dropdown-target="menu"
      class="form-card hidden"
    >
      <div class="input-container">
        <%= form.number_field :discussion_time, class: "form-input" %>
        <%= form.label :discussion_time, "Время обсуждений", class: "form-label" %>
      </div>
    </div>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :players, Player.new, child_index: 'NEW_RECORD' do |player_fields| %>
      <%= render "players/form", f: player_fields %>
    <% end %>
  </template>

  <div class="form-card">
    <h2>Участники:</h2>
    <div data-nested-form-target="target"></div>
  </div>

  <div class="controls">
    <%= button_tag "Добавить игрока", type: "button", class: "button-primary", data: { action: "nested-form#add" } %>
    <%= button_tag "Начать игру", type: "submit", class: "button-secondary" %>
  </div>
<% end %>
